body {    
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 80%;
    height: 100px;
    background: #233;
    margin: 2px auto;
    padding: 2px;
}

header h1 {
    margin: 0px;
}

section {
    width: 80%;
    padding: 2px;
    min-height: 400px;
    background: #233;
    margin: 2px auto;
}

footer {
    width: 80%;
    padding: 2px;
    background: #233;
    margin: 2px auto;
}