body {    
    color: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ccc;
}

#title {
    text-align: center;
    margin-bottom: 60px;
}

#copy {
    font-size: 12px;
}

section > p {
    margin-top: 30px;
    margin-bottom: 3px;
    padding: 0px;
}
section > ul {
    margin-top: 0px;
}

section, footer {
    width: 80%;
    padding: 10px;
    background: #233;
    margin: 2px auto;
}
